@import url(./fonts.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    overflow: hidden;
}
ul{
    list-style: none;
}
body{
    font-family: var(--rw);
    background: var(--body);
}
:root{
    --rw:'Raleway';
    --rr:'Roboto';
    --main-color:#69CF17;
    --link-color:#06600F;
    --second-color:#fff;
    --body:#0C0C0C;
    
}
.container{
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.travel{
    backdrop-filter: blur(7.5px);
    background: rgba(0, 0, 0, 0.5);
    padding: 18px 0;
}
.travel__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    font-size: 16px;
    line-height: 19px;
    font-family: var(--rr);
    color: var(--second-color);
}
.icon>span{
    margin-left: 5px;
}
.service__list{
    display: flex;
    column-gap: 20px;
}
.service__link{
    font-size: 16px;
    line-height: 19px;
    font-family: var(--rr);
    color: var(--second-color);
}
.nav{
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(125, 115, 115, 0.5);
    backdrop-filter: blur(7.5px);
}
.nav__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding: 11px 18px;
    width: 215px;
    background: var(--link-color);
    text-transform: uppercase;
    font-family: var(--rr);
    font-size: 36px;
    line-height: 30px;
    color: var(--second-color);
    border-radius: 4px;
}
.nav__content{
    padding: 5px 0;
}
.nav__list{
    display: flex;
    column-gap: 14px;
}
.nav__link{
    padding: 22px 14px;
    font-size: 18px;
    line-height: 21px;
    color: var(--second-color);
}
.nav__link:hover{
    background: var(--main-color);
}
.menu-btn{
    border: none;
    background: transparent;
    display: none;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}
.menu-btn>span{
    background: #fff;
    display: block;
    width: 40px;
    height: 1px;
    transition: 0.2s linear;
}
.menu-btn::before,
.menu-btn::after{
    content: '';
    width: 40px;
    height: 1px;
    background: #fff;
    transition: 0.2s linear;
}
.header{
    background: url(../images/header-bac.jpg) no-repeat center / cover;
    height: 700px;
    margin-bottom: 50px;
}
.title{
    padding-top: 167px;
    padding-bottom: 18px;
    font-size: 72px;
    line-height: 85px;
    color: var(--main-color);
}
.name{
    font-size: 36px;
    line-height: 17px;
    color: var(--main-color);
}
.text{
    padding-top: 18px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 24px;
    color: var(--second-color);
}
.header-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-buttons__left{
    padding: 32px 76px;
    width: 285px;
    background: var(--main-color);
    backdrop-filter: blur(9px);
    font-size: 50px;
    line-height: 25px;
    color: var(--second-color);
    font-weight: 100;
}
.header-buttons__right{
    padding: 15px 70px;
    width: 250px;
    height: 51px;
    font-size: 18px;
    line-height: 21px;
    background: var(--main-color);
    color: var(--second-color);
    border-radius: 6px;
}
.main{
    background: #393636;
}
.list{
    background: #292929;
    box-shadow: 0px 1px 8px rgba(17, 17, 17, 0.3); 
    display: flex;
    gap: 32px;
    padding-left: 20px;
}
.link{
    font-size: 18px;
    line-height: 24px;
    color: var(--second-color);
    position: relative;
    font-family: var(--rw);
    padding: 20px 0;
    display: block;
}
.link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    background: var(--second-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s linear;
}
.link:hover::before{
    width: 130%;
}
.main__content{
    padding: 15px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}
.main-menu__about{
    position: relative;
    overflow: hidden;
    width: 23%;
    background: var(--body);
    border-radius: 4px;
}
.main-menu__about img{
    padding: 15px;
    display: block;
    width: 100%;
    overflow: hidden;
    transition: 0.5s linear;
}
.basket{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(105, 207, 23, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.main-menu__about:hover img{
    transform: translateY(-105%); 
}
.main-menu__about:hover .basket{
    transform: scale(1.3) translateY(-50%);
    opacity: 1;
    
}
.main-menu__name{
    font-family: var(--rw);
    font-weight: 700;
    font-size: 19px;
    line-height: 15px;
    color: var(--second-color);
    padding-left: 15px;
}
.main-menu__text{
    padding: 15px;
    font-family: var(--rw);
    font-size: 19px;
    line-height: 25px;
    color: var(--second-color);
}
.branch{
    background: #fff;
    padding: 20px 0;
}
.title__branch{
    font-size: 50px;
    line-height: 40px;
    color: var(--main-color);
    text-align: center;
}
.footer{
    background: linear-gradient(180deg, #000000 0%, rgba(105, 207, 23, 0.5) 100%);
}
.footer__content{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 81px;
}
.number{
    font-size: 20px;
    line-height: 23px;
    font-family: var(--rr);
    color: var(--second-color);
}
.footer__list{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 81px;
}
.footer__link{
    font-size: 20px;
    line-height: 23px;
    font-family: var(--rr);
    color: var(--second-color);
}
.end__of-site{
    background: #1A3406;
    padding: 19px 0;
}
.training__in-proweb{
    font-size: 16px;
    line-height: 19px;
    font-family: var(--rr);
    color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutus__content{
    position: relative;
}
.aboutus__title{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    font-size: 55px;
    line-height: 65px;
    text-shadow: 0px 0px 15px rgba(191, 171, 171, 0.4);
    color: rgba(105, 207, 23, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutus__text{
    padding: 30px 0;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    color: var(--second-color);
}